Backup/flows 13-10-2022.json
[{"id":"34c9f9b8dfea7642","type":"tab","label":"GeneradorDatosMock","disabled":false,"info":"","env":[]},{"id":"b1ac06542da0d53a","type":"tab","label":"DataEngine","disabled":false,"info":"","env":[]},{"id":"785a0a21106c29bb","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"030f77e102944776","type":"mqtt-broker","name":"VM eMozart","broker":"172.16.200.104","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5fad6cad1d4cd6d2","type":"mqtt-broker","name":"","broker":"zcfkev.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4a871acf21521142","type":"ibmiot","name":"apiKey watson iot","keepalive":"60","serverName":"zcfkev.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"zcfkev","shared":false},{"id":"18c57cafdaecba75","type":"wiotp-credentials","name":"","org":"zcfkev","serverName":"zcfkev.messaging.internetofthings.ibmcloud.com","devType":"Sensor","devId":"Sen1","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"6a6b5645eed53aa4","type":"debug","z":"34c9f9b8dfea7642","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":100,"wires":[]},{"id":"66b1b8e87cb00fb4","type":"function","z":"34c9f9b8dfea7642","name":"GeneradorDeDatosMock","func":"function generateRandomDecimalInRangeFormatted(min, max, places) {\n    let value = (Math.random() * (max - min + 1)) + min;\n    return Number.parseFloat(value).toFixed(places);\n}\n\nvar foo = [];\n\nlet value2 = \"\";\nlet value3 = \"\";\n\nfor (var i = 10001; i <= 10500; i++) {\n    var currentdate = new Date();\n    var datetime = currentdate.getDate() + \"/\"\n        + (currentdate.getMonth() + 1) + \"/\"\n        + currentdate.getFullYear() + \"-\"\n        + currentdate.getHours() + \":\"\n        + currentdate.getMinutes() + \":\"\n        + currentdate.getSeconds();\n    value2 = generateRandomDecimalInRangeFormatted(-31.835612, -31.952209, 6);\n    value3 = generateRandomDecimalInRangeFormatted(-62.272098, -62.472255, 6);\n\n    var value4 = \"\";\n    value4 = value4 + \"pos\" + i + \":['\" + i + \",\" + i + \",\" + value2 + \"/\" + value3 + \",\" + datetime + \"']\";\n\n    foo.push(value4);\n}\n\nmsg.payload = \"{\"+foo.toString()+\"}\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":100,"wires":[["6a6b5645eed53aa4","5d0b28edfaaef04c"]]},{"id":"4f5ce21d9f014dd6","type":"inject","z":"34c9f9b8dfea7642","name":"","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":100,"wires":[["66b1b8e87cb00fb4"]]},{"id":"0ab41bc45b1ce069","type":"debug","z":"34c9f9b8dfea7642","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":160,"wires":[]},{"id":"5d0b28edfaaef04c","type":"wiotp out","z":"34c9f9b8dfea7642","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"18c57cafdaecba75","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"Sensor","x":540,"y":160,"wires":[]},{"id":"a70b49e74960ee1c","type":"ibmiot in","z":"34c9f9b8dfea7642","authentication":"apiKey","apiKey":"4a871acf21521142","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":670,"y":160,"wires":[["0ab41bc45b1ce069"]]},{"id":"28acbce613de4783","type":"http request","z":"b1ac06542da0d53a","name":"GET Token","method":"POST","ret":"txt","paytoqs":"body","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":350,"y":100,"wires":[["61a283dc345f8eb1","18a20f8524115c3f"]]},{"id":"361285b9e787bbfc","type":"inject","z":"b1ac06542da0d53a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"apikey=QZ-vn3FxxovGrBBiTnq0SfzV1HSDaXWvckyuVWZfwY9O&grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey","payloadType":"str","x":170,"y":100,"wires":[["28acbce613de4783"]]},{"id":"61a283dc345f8eb1","type":"debug","z":"b1ac06542da0d53a","name":"debug 4","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":100,"wires":[]},{"id":"18a20f8524115c3f","type":"function","z":"b1ac06542da0d53a","name":"extractToken","func":"//convierto la respuesta en string y la guardo en la variable response \nlet response = msg.payload.toString();\n//busco el indice en donde termina el token\nlet indice = response.indexOf('\"refresh_token\":\"') - 2;\n//busco el token y lo guardo en la variable token\nlet bearer = 'Bearer ';\nlet token = bearer.concat(response.substring(17, indice));\n//guardo el token en la variable por defecto\nmsg.token = token;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":180,"wires":[["655733b2cc406836","c250ab565a236e80"]]},{"id":"655733b2cc406836","type":"debug","z":"b1ac06542da0d53a","name":"debug 5","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"token","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"c250ab565a236e80","type":"http request","z":"b1ac06542da0d53a","name":"GET Jobs","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.dataengine.cloud.ibm.com/v3/sql_jobs?type=stream&instance_crn=crn:v1:bluemix:public:sql-query:us-south:a/285efe128d0a4273a2c87377df705764:9616ce68-a0f1-485b-b9f1-00fc11913e10::","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":760,"y":320,"wires":[["b39e30d553a296ec"]]},{"id":"b39e30d553a296ec","type":"debug","z":"b1ac06542da0d53a","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":320,"wires":[]},{"id":"bc289541583ce596","type":"uibuilder","z":"785a0a21106c29bb","name":"","topic":"","url":"www.lasso.com","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"templateFolder":"svelte-basic","extTemplate":"","showfolder":false,"reload":false,"sourceFolder":"src","deployedVersion":"5.1.1","x":490,"y":200,"wires":[["eecd3c4afd95f176"],[]]},{"id":"eecd3c4afd95f176","type":"debug","z":"785a0a21106c29bb","name":"Debug1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":100,"wires":[]}]